        <h1>Новости</h1>
        <div class="news_container">
          <% @news.each do |news| %>
            <div class="single_new_container">
              <div class="single_new">
                <a href="<%= news_path(news) %>">
                  <% if news.previews.attached? %>
                    <%= image_tag (news.previews.first) %>

                    <% else %>
                      <%= image_tag ('/assets/news-preview.jpeg') %>
                  <% end %>
                </a>
                <a class="news_title" href="<%= news_path(news) %>">
                  <h2><%= news.title %></h2>
                </a>
                <p><%= news.created_at.time.to_s(:humanized_ago) %></p>
                <p><%= news.description %></p>
                <%= link_to 'Show', news %>
                <%= link_to 'Edit', edit_news_path(news) %>
                <%= link_to 'Destroy',
                      news, method: :delete,
                      data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
          <br><br><br>
          <%= link_to 'Добавить новость', new_news_path %>
        </div>
