        <div class="nav_menu_left">
          <%= render "layouts/nav_menu_left_list" %>
        </div>

        <div class="content_block_container">
          <div class="content_block">
            <div class="top_content_block">
              <%= render "product_slider" %>

              <h1>
                <%= @product.title %>
              </h1>

              <p class="product_author">
                <%= @product.author %>, <%= @product.year %>
              </p>

              <p class="product_price">
                <%= number_to_currency(@product.price) %>
              </p>

              <%= sanitize(@product.description) %>

            </div>

            <div class="main_content_block">
              <table class="product_info_table">
                <tbody>
                  <tr>
                    <td>Автор</td>
                    <td><%= @product.author %></td>
                  </tr>
                  <% if @product.origtitle.present? %>
                  <tr>
                    <td>Название в оригинале</td>
                    <td><%= @product.origtitle %></td>
                  </tr>
                  <% end %>
                  <% if @product.serie.present? %>
                  <tr>
                    <td>Серия</td>
                    <td><%= @product.serie %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Год издания</td>
                    <td><%= @product.year %></td>
                  </tr>
                  <tr>
                    <td>Издательство</td>
                    <td><%= @product.publisher %></td>
                  </tr>
                  <tr>
                    <td>Страниц</td>
                    <td><%= @product.page %></td>
                  </tr>
                  <tr>
                    <td>Переплет</td>
                    <td><%= @product.binding %></td>
                  </tr>
                </tbody>
              </table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', store_index_path%>
</div>
</div>
</div>
