        <div class="nav_menu_left">
          <ul class="nav_menu_left_list">
            <li><a href="">Бестселлеры</a></li>
            <li><a href="">Фантастика</a></li>
            <li><a href="">Комиксы</a></li>
            <li><a href="">Обучение</a></li>
            <li><a href="">Бизнес</a></li>
            <li><a href="">Кулинария</a></li>
            <li><a href="">Иностранные языки</a></li>
            <li><a href="">Поэзия</a></li>
            <li><a href="">История</a></li>
          </ul>
          <div id='filters' class='sections'>
            <div class='filter-attributes'>
              <p>Автор</p>
                <ul>
                <% Product.select("DISTINCT(AUTHOR)").each do |product| %>
                  <li class="filter_checkbox">
                    <input class="default_checkbox" type='checkbox' name='author' id='<%= product.author %>' value='<%= product.author %>' >
                    <label for="<%= product.author %>"><%= product.author %></label>
                  </li>
                <% end %>
            </div>
            <div>
              <input type='button' id='clear_all' value='Сбросить фильтр'></input>
            </div>
          </div>
        </div>

        <div class="products">
          <% cache @products do %>
            <% @products.each do |product| %>
              <% cache product do %>
                <div class="single_product_container grid-products" data-author='<%= product.author %>'>
                  <div class="single_product">
                    <a href="<%= product_path(product) %>">
                      <div class="single_product_cover">
                        <img src="/assets/test-book.png">
                      </div>
                    </a>
                    <p class="product_title"><a href="<%= product_path(product) %>"><%= truncate(product.title, :length => 55, :separator => ' ') %></a></p>
                    <p class="product_info"><%= product.author %>, <%= product.year %></p>
                    <p class="product_price"><%= number_to_currency(product.price) %></p>
                    <%= button_to 'В корзину',
                          line_items_path(product_id: product),
                          remote: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
