        <div class="nav_menu_left">
          <%= render "layouts/nav_menu_left_list" %>
          <div id='filters' class='sections'>
            <div class='filter-attributes'>
              <p>Автор</p>
                <ul>
                <% Product.select("DISTINCT(AUTHOR)").each do |product| %>
                  <li class="filter_checkbox">
                    <input class="default_checkbox" type='checkbox' name='author' id='<%= product.author %>' value='<%= product.author %>' >
                    <label for="<%= product.author %>"><%= product.author %></label>
                  </li>
                <% end %>
            </div>
            <div>
              <input type='button' id='clear_all' value='Сбросить фильтр'></input>
            </div>
          </div>
        </div>

        <div class="catalog_products">
          <% @products.each do |product| %>
            <div class="single_product_container grid-products" data-author='<%= product.author %>'>
              <div class="single_product">
                <a href="<%= product_path(product) %>">
                  <div class="single_product_cover">
                    <% if product.previews.attached? %>
                      <%= image_tag (product.previews.first) %>
                    <% else %>
                      <%= image_tag ('/assets/test-book.png') %>
                    <% end %>
                  </div>
                </a>
                <p class="product_title"><a href="<%= product_path(product) %>"><%= truncate(product.title, :length => 55, :separator => ' ') %></a></p>
                <p class="product_info"><%= product.author %>, <%= product.year %></p>
                <p class="product_price"><%= number_to_currency(product.price) %></p>
                <%= button_to 'В корзину',
                      line_items_path(product_id: product),
                      remote: true %>
              </div>
            </div>
          <% end %>
        </div>
